#header
  font-size: 14px
  position: relative
  &.mobile-on
    #main-nav,
    #sub-nav
      display: block

#header-outer
  height: 100%
  position: relative



#header-inner
  position: absolute
  overflow: hidden
  width: 100%
  background: #FFFFFF
  @media mq-mobile
    margin-top: 0px
    border-bottom: 1px solid #FCFCFC;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14)
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.20)
    z-index: 100
    
   


#main-nav
  float: left
  margin-left: -15px
  font-family: PT Serif,STZhongsong,'华文宋体','Microsoft Yahei',serif

$nav-link
  float: left
  color: black
  text-decoration: none
  transition: opacity 0.2s
  padding: 39px 15px

.menu-li
  list-style-type: none
  display: inline
  @media mq-mobile
    display: block
    margin: 25px 0 25px 0
    

.main-nav-link
  @extend $nav-link
  font-weight: 600
  @media mq-mobile
    float: none
    padding: 0px 60px
    text-align: center

#main-nav-toggle
  @extend $nav-link
  padding: 15px 15px
  display: none
  font-size: 16px
  margin-left: -15px
  font-family: font-icon
  &:before
    content: "\f0c9"
  @media mq-mobile
    display: block
    margin-left: 0px

#logo
  float:left
  @media mq-mobile
    float: none
    font-size: 28px
    margin: 8px 0px 3px 0px
    padding-left: 10px
    display: block
    vertical-align: top
    background-position: center

#subtitle-text
  float: none
  display: block
  @media mq-mobile
    font-size: 0px
    margin: 0 0 0 0

#sub-nav
  float: right

#main-nav,
#sub-nav
  @media mq-mobile
    display: none
    float: none

#search-form-wrap
  top: 15px
  padding: 20px 15px
  @media mq-mobile
    text-align: center

.search-form
  clearfix()
  @media mq-mobile
    display: inline-block

.search-form-input
  width: 150px
  border: none
  float: left
  font-size: 14px
  background: none
  color: color-default
  outline: none
  &::-webkit-search-results-decoration
  &::-webkit-search-cancel-button
    -webkit-appearance: none

.search-form-submit
  @extend $nav-link
  float: left
  padding: 0
  font-family: font-icon
  border: none
  background: none
  cursor: pointer